#header_xz_bg .header_xz .header_xz_l li .header_xz_l_a1{
	color: #666;
}
#header_xz_bg .header_xz .header_xz_l li .header_xz_l_a2{
	border: 1px solid #FF5c00;
	border-bottom: none;
	background: #fff;
}