#dizhi {
  width: 1200px;
  height: 30px;
  padding: 5px 0px;
  margin: 0 auto; }
  #dizhi a {
    font-size: 14px;
    line-height: 30px;
    color: #000; }
    #dizhi a:hover {
      color: #FF5C00; }
  #dizhi .dizhi01 {
    font-weight: 900; }
  #dizhi .dizhi04 {
    font-size: 12px;
    color: #666666; }

#xqing_bg {
  width: 1200px;
  height: 477px;
  margin: 0 auto;
  margin-bottom: 20px; }
  #xqing_bg #xqing {
    width: 1198px;
    height: 475px;
    border: 1px solid #f1f1f1; }
    #xqing_bg #xqing .xqing_l {
      width: 350px;
      height: 464px;
      float: left; }
      #xqing_bg #xqing .xqing_l .fdj_x {
        width: 350px;
        height: 350px;
        position: relative; }
        #xqing_bg #xqing .xqing_l .fdj_x img {
          width: 100%;
          height: 100%; }
        #xqing_bg #xqing .xqing_l .fdj_x .fdj_xiansji {
          width: 350px;
          height: 350px;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 10; }
        #xqing_bg #xqing .xqing_l .fdj_x .xuanzhe {
          width: 100px;
          height: 100px;
          background: #555555;
          opacity: 0.5;
          position: absolute;
          top: 0px;
          left: 0px;
          display: none; }
        #xqing_bg #xqing .xqing_l .fdj_x .dingwei {
          width: 500px;
          height: 500px;
          position: absolute;
          top: 0px;
          left: 430px;
          z-index: 12;
          overflow: hidden;
          display: none; }
          #xqing_bg #xqing .xqing_l .fdj_x .dingwei .kuangjia {
            width: 500px;
            height: 500px;
            position: relative; }
            #xqing_bg #xqing .xqing_l .fdj_x .dingwei .kuangjia .fangdade {
              width: 1000px;
              height: 1000px;
              position: absolute;
              top: 0px;
              left: 0px; }
              #xqing_bg #xqing .xqing_l .fdj_x .dingwei .kuangjia .fangdade img {
                width: 100%;
                height: 100%; }
      #xqing_bg #xqing .xqing_l .tupian_x {
        width: 350px;
        height: 64px; }
        #xqing_bg #xqing .xqing_l .tupian_x .lj {
          display: block;
          width: 22px;
          height: 64px;
          background: url(../img/xiangqing_img/l.png) no-repeat;
          float: left; }
        #xqing_bg #xqing .xqing_l .tupian_x .rj {
          display: block;
          width: 22px;
          height: 64px;
          background: url(../img/xiangqing_img/r.png) no-repeat;
          float: right; }
        #xqing_bg #xqing .xqing_l .tupian_x .ximg_01 {
          display: block;
          width: 50px;
          height: 50px;
          border: 1px solid #F1F1F1;
          margin-right: 5px;
          padding: 3px;
          float: left;
          margin-top: 3px; }
          #xqing_bg #xqing .xqing_l .tupian_x .ximg_01:hover {
            border: 1px solid #FF5C00; }
          #xqing_bg #xqing .xqing_l .tupian_x .ximg_01 img {
            width: 100%;
            height: 100%; }
      #xqing_bg #xqing .xqing_l .fabu {
        width: 327px;
        height: 38px;
        padding: 12px 0px 0px 23px; }
        #xqing_bg #xqing .xqing_l .fabu a {
          display: block;
          width: 24px;
          height: 24px;
          float: left;
          margin-right: 8px;
          margin-top: 4px; }
        #xqing_bg #xqing .xqing_l .fabu .sc {
          display: block;
          width: 82px;
          height: 24px;
          float: right;
          margin-left: 15px;
          border-left: 1px solid #CCCCCC; }
    #xqing_bg #xqing .xqing_m {
      width: 635px;
      height: 450px;
      float: left;
      padding: 15px 10px 10px 10px;
      border-left: 1px solid #F1F1F1;
      border-right: 1px solid #F1F1F1; }
      #xqing_bg #xqing .xqing_m h3 {
        width: 635px;
        height: 24px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 3px; }
      #xqing_bg #xqing .xqing_m b {
        display: block;
        width: 615px;
        height: 18px;
        font-size: 12px;
        line-height: 18px;
        color: #999999;
        font-weight: 100;
        padding-left: 20px;
        background: url(../img/xiangqing_img/jj.png) no-repeat 0 center; }
      #xqing_bg #xqing .xqing_m span {
        width: 620px;
        height: 27px;
        padding: 7px 0px 3px 0px;
        font-size: 14px;
        line-height: 27px;
        color: #999999;
        margin-left: 15px; }
        #xqing_bg #xqing .xqing_m span strong {
          color: #f00;
          font-size: 20px;
          line-height: 27px;
          margin-left: 20px; }
      #xqing_bg #xqing .xqing_m .p_t {
        width: 620px;
        height: 33px;
        padding: 7px 0px 3px 0px;
        font-size: 14px;
        line-height: 33px;
        color: #999999;
        padding-left: 15px;
        border-top: 1px dashed #999999;
        position: relative; }
        #xqing_bg #xqing .xqing_m .p_t a {
          display: block;
          width: 45px;
          height: 26px;
          border: 1px solid #FF5C00;
          font-size: 14px;
          line-height: 26px;
          text-align: center;
          color: #000000;
          position: absolute;
          top: 12px;
          left: 88px; }
      #xqing_bg #xqing .xqing_m .p_b {
        width: 620px;
        height: 33px;
        padding: 7px 0px 3px 0px;
        font-size: 14px;
        line-height: 33px;
        color: #999999;
        padding-left: 15px;
        border-bottom: 1px dashed #999999; }
        #xqing_bg #xqing .xqing_m .p_b i {
          display: block;
          width: 70px;
          float: left;
          font-style: normal; }
        #xqing_bg #xqing .xqing_m .p_b a {
          display: block;
          float: left;
          margin-right: 10px;
          height: 26px;
          border: 1px solid #fff;
          font-size: 14px;
          line-height: 26px;
          text-align: center;
          color: #000000;
          padding: 0px 3px; }
      #xqing_bg #xqing .xqing_m .z_bg {
        width: 500px;
        height: 55px;
        padding: 7px 0px 3px 0px;
        margin-left: 87px;
        margin-top: 5px; }
        #xqing_bg #xqing .xqing_m .z_bg .num {
          width: 57px;
          height: 38px;
          border: 1px solid #CCCCCC;
          position: relative;
          margin-right: 10px;
          float: left; }
          #xqing_bg #xqing .xqing_m .z_bg .num input {
            display: block;
            width: 38px;
            height: 38px;
            border: none;
            font-size: 16px;
            font-weight: 900;
            text-align: center;
            line-height: 38px;
            color: #000000; }
          #xqing_bg #xqing .xqing_m .z_bg .num .zhengjia {
            display: block;
            width: 18px;
            height: 18px;
            background: url(../img/xiangqing_img/shang.png) no-repeat;
            position: absolute;
            top: 0;
            left: 39px;
            border-left: 1px solid #CCCCCC;
            border-bottom: 1px solid #CCCCCC; }
          #xqing_bg #xqing .xqing_m .z_bg .num .jianshao {
            display: block;
            width: 18px;
            height: 18px;
            background: url(../img/xiangqing_img/xia.png) no-repeat;
            position: absolute;
            top: 20px;
            left: 39px;
            border-left: 1px solid #CCCCCC; }
        #xqing_bg #xqing .xqing_m .z_bg .jiarugwc {
          display: block;
          width: 148px;
          height: 41px;
          background: url(../img/xiangqing_img/dongtu.png) no-repeat 0px -65px;
          float: left;
          margin-right: 10px; }
          #xqing_bg #xqing .xqing_m .z_bg .jiarugwc:hover {
            background-position: -150px -65px; }
        #xqing_bg #xqing .xqing_m .z_bg .sjban {
          display: block;
          width: 123px;
          height: 41px;
          float: left;
          background: url(../img/xiangqing_img/sj.png) no-repeat; }
    #xqing_bg #xqing .xqing_r {
      width: 190px;
      height: 201px;
      float: left; }
      #xqing_bg #xqing .xqing_r a {
        display: block;
        width: 62px;
        height: 66px;
        float: left; }
      #xqing_bg #xqing .xqing_r .bb {
        width: 190px;
        height: 66px;
        background: url(../img/xiangqing_img/bb04.png) no-repeat center center;
        border-bottom: 1px solid #CCCCCC; }
      #xqing_bg #xqing .xqing_r .pinglun {
        width: 50px;
        height: 12px;
        font-size: 12px;
        color: blue;
        margin: 10px 0px 0px 140px; }
        #xqing_bg #xqing .xqing_r .pinglun:hover {
          text-decoration: underline; }
      #xqing_bg #xqing .xqing_r p {
        display: block;
        width: 140px;
        height: 28px;
        margin-top: 10px;
        background: url(../img/xiangqing_img/pj.png) no-repeat;
        float: left; }

#tuwen_bg {
  width: 1200px;
  min-height: 16009px;
  margin: 0 auto; }
  #tuwen_bg #tuwen_l {
    width: 202px;
    height: 1048px;
    float: left; }
    #tuwen_bg #tuwen_l p {
      display: block;
      width: 200px;
      height: 166px;
      border: 1px solid #CCCCCC;
      background: url(../img/xiangqing_img/ma.png) no-repeat; }
    #tuwen_bg #tuwen_l div {
      width: 200px;
      height: 804px;
      border: 1px solid #CCCCCC;
      margin-top: 15px; }
      #tuwen_bg #tuwen_l div i {
        display: block;
        width: 180px;
        height: 30px;
        background: #ccc;
        font-size: 14px;
        line-height: 30px;
        font-style: normal;
        padding-left: 20px; }
      #tuwen_bg #tuwen_l div span {
        display: block;
        width: 190px;
        height: 149px;
        padding: 5px 5px 0px 5px;
        border-bottom: 1px solid #CCCCCC; }
        #tuwen_bg #tuwen_l div span .tuwen_img {
          display: block;
          width: 100px;
          height: 100px;
          margin: 0 auto; }
          #tuwen_bg #tuwen_l div span .tuwen_img img {
            width: 100%;
            height: 100%; }
        #tuwen_bg #tuwen_l div span .tuwen_zi {
          display: block;
          width: 185px;
          height: 20px;
          font-size: 12px;
          color: #000;
          line-height: 20px;
          padding-left: 5px; }
          #tuwen_bg #tuwen_l div span .tuwen_zi:hover {
            color: #FF5C00;
            text-decoration: underline; }
        #tuwen_bg #tuwen_l div span strong {
          display: block;
          width: 190px;
          height: 20px;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: #FF5C00; }
  #tuwen_bg #tuwen_r {
    width: 990px;
    float: right; }
    #tuwen_bg #tuwen_r #fen {
      width: 990px;
      height: 30px;
      border: 1px solid #CCCCCC;
      border-top: 2px solid #999999;
      position: relative; }
      #tuwen_bg #tuwen_r #fen li {
        display: block;
        border-left: 1px solid #FFFFFF;
        border-right: 1px solid #fff;
        position: absolute;
        background: #fff;
        top: 0px;
        left: -1px; }
        #tuwen_bg #tuwen_r #fen li a {
          display: block;
          width: 82px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          font-size: 14px;
          color: #000000; }
          #tuwen_bg #tuwen_r #fen li a:hover {
            color: #FF5C00; }
    #tuwen_bg #tuwen_r span {
      display: block;
      width: 990px;
      height: 30px;
      padding: 20px 10px;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #CCCCCC;
      font-size: 12px; }
    #tuwen_bg #tuwen_r img {
      display: block;
      width: 771px;
      height: 15895px;
      margin: 0 auto;
      margin-top: 10px; }

/*# sourceMappingURL=xiangqing.css.map */
